<div class="container-fluid mx-auto">
  <div class="cards">
  <h1 class="text-center">Checkout all offers</h1>
    <ul style="list-style-type: none;">
      <div class="card-container">
        <%# <div class="card" style="width: 30rem;"> %>
          <% @services.each do |service| %>
            <li class="card card-home">
              <%= image_tag asset_path("placeholder.jpg") %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to service.name, service_path(service), style: "text-decoration: none;  color: black;" %></h5>
                <div class="user-info d-flex justify-content-around">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "profile-pic" %>
                  <h3> ⭐️⭐️⭐️⭐️⭐️</h3>
                  <h3><%= User.name %></h3>
                </div>
                <p class="card-text p-3"><%= truncate(service.description, length: 200) %></p>
                <%= link_to 'see more...', service_path(service), class: "btn btn-primary mt-auto", style: "border-radius: 16px;" %>
              </div>
            </li>
          <% end %>
        <%# </div> %>
        </div>
      </ul>
  </div>
</div>
