
<div id="show-body">

  <div id="show-container" class="container w-50 p-3 bg-light">
    <div id="show-header">
      <h1><%= @service.name %></h1>
    </div>

    <div class="parent bg-light">
      <% if @service.photos.attached?%>
        <% @service.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill, id: "border-pictures" %>
        <% end %>
      <% end  %>
    </div>

    <div id="show-details">
      <div id="details-container" class="d-flex justify-content-between bg-light">
        <div id="details-info">
          <h2><%= @service.description %></h2>
          <div id="show-user">
            <h4>by <%= @user.first_name%> <%= @user.last_name%></h4>
          </div>
          <p><b>Category: <%= @service.category %></b></p>
          <p>Rating: <%= @service.rating %></p>
        </div>
        <div id="new-booking">
          <%= link_to "Book that Cook", new_service_booking_path(@service), class: "btn btn-success rounded-3", style: "width: 150px" %>
        </div>
      </div>

      <div id="rating-form" class="mt-3 col-1 d-flex">
        <%= simple_form_for [@service] do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate", input_html: {data: {controller: "star-rating", action: "click->form-submit#submit"} } %>
          <%= f.submit "submit rating", class: "d-none" %>
        <% end %>
      </div>
    </div>


    <div id="show-links" class="mt-5 mb-5">
      <%# show only, if the user is logged in %>
      <% if current_user.present? %>
        <%# show delete and edit only, if the current user is the owner of the service %>
        <% if current_user.id == @service.user_id%>
          <h3 class="card-title">Manage your Service</h3>
          <div id="chef-links" class="d-flex mt-3 justify-content-center">
            <div id="delete-service" class="card-link px-1">
              <%= link_to "Edit service", edit_service_path(@service), class: "btn btn-secondary"%>
            </div>
            <div id="edit-service" class="card-link px-1">
              <%= link_to "Delete service", service_path(@service), data: { turbo_method: :delete }, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
