
<div id="show-body">

  <div id="show-container" class="container w-50 p-3">
    <div id="show-header">
      <h1><%= @service.name %></h1>
    </div>

    <div class="parent">
      <% if @service.photos.attached?%>
        <% @service.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
      <% end  %>
    </div>

    <div id="show-user">

      <p>by <%= @user.first_name%> <%= @user.last_name%></p>
    </div>

    <div id="show-details">
      <div id="details-container" class="d-flex justify-content-between">
        <div id="details-info">
          <p>Category: <%= @service.category %></p>
          <p><%= @service.description %></p>
          <p>Rating: <%= @service.rating %></p>
        </div>
        <div id="new-booking">
          <%= link_to "Book that Cook", new_service_booking_path(@service), class: "btn btn-success rounded-3" %>
        </div>
      </div>
      <div id="rating-form" class="mt-3 col-1 d-flex">
        <%= simple_form_for [@service] do |f| %>
          <%= f.input :rating, label: false %>
          <%= f.submit "Leave a rating", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <br>
    <div class="d-flex justify-content-center">
    <div class="card bg-white shadow p-3 mb-5 bg-body rounded-3" style="width: 30rem;">
      <%# show delete and edit only, if the current user is the owner of the service %>
      <div class="card-body">
      <% if current_user.present? %>
        <% if current_user.id == @service.user_id%>
          <h3 class="card-title">Manage your Service</h3>
          <div id="chef-links" class="d-flex mt-3">
            <div id="delete-service" class="card-link">
              <%= link_to "Edit service", edit_service_path(@service), class: "btn btn-secondary"%>
            </div>
            <div id="edit-service" class="card-link">
              <%= link_to "Delete service", service_path(@service), data: { turbo_method: :delete }, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
