<h1><%= @service.name %></h1>
  <% if @service.photo.attached?%>
    <%= cl_image_tag @service.photo.key, height: 300, width: 400, crop: :fill %>
  <% end  %>
<p>Category: <%= @service.category %></p>
<p><%= @service.description %></p>
<p><%= @service.rating %></p>
<br>
<p>by: <%= @user.first_name%> <%= @user.last_name%></p>


<%= simple_form_for [@service] do |f| %>
  <%= f.input :rating %>
  <%= f.submit "Leave a rating", class: "btn btn-primary" %>
<% end %>
<br>

<%= link_to "Edit service", edit_service_path(@service)%>

<br>
<div>
  <%= link_to "Delete service", service_path(@service), data: { turbo_method: :delete }, class: "btn btn-primary" %>
</div>
<br>
<div>
  <%= link_to "New Booking", new_service_booking_path(@service), class: "btn btn-success" %>
</div>
