
<div class="title"><h2>Hop on the Funwagon</h2></div>

<div class="container-new">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs w-100">
    <div class="mb-6" id="email">

      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: "email",
                  class: "form-control"%>
    </div>

    <div class="mb-6" id="password">

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: "password",
                  class: "form-control" %>
    </div>

    <div class="mb-6" id="password-confirmation">
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: "password confirmation",
                  class: "form-control"  %>
    </div>

    <div class="mb-6" id="first-name">
      <%= f.input :first_name,
                  required: true,
                  input_html: { autocomplete: "first-name" },
                  label: "first name",
                  class: "form-control" %>
  </div>

  <div class="mb-6" id="last-name">
    <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last-name" },
                label: "last name",
                class: "form-control" %>
  </div>

  <div class="mb-6" id="username">
    <%= f.input :username,
                required: true,
                input_html: { autocomplete: "username" },
                label: "username",
                class: "form-control" %>
  </div>

  <div class="form-actions">
    <div class="mb-6 ">
      <%= f.button :submit, "Sign up",
      class: "btn btn-primary",
      id: "button-form" %>
    </div>
</div>
  </div>

  <% end %>

  </div>
