<div class="title"><h1>Make a new Booking</h1></div>
<div class="container-new">
  <div class="form-inputs">

  <%= simple_form_for [@service, @booking] do |f| %>
  <div class="mb-3" id="name">
    <%= f.input :name,
      label: "Occasion",
      class: "form-control",
      placeholder: "For what do you book this cook?" %>
  </div>

  <div class="mb-3" id="date">
    <%= f.input :date, as: :string,
        input_html: {
          data: {
            controller: "datepicker"
          }
        } %>
  </div>
  <div class="form-actions">
      <%= f.submit class: "btn btn-primary",
      id: "button-form" %>
       <div id="links">
        <%= link_to "Cancel", service_path(@service), class: "btn btn-secondary",
      id: "button-form" %>
       </div>

</div>
  <% end %>

</div>
</div>
