
<div id="body" class="" data-controller="toggle-lists">
  <div id="header-profile" class="d-flex px-5 pb-4">
    <h1>What's up with <%= @user.username %>?</h1>
  </div>
  <div class="btn-group mx-5 mb-3" role="group" aria-label="Basic radio toggle button group">
    <input data-action="change->toggle-lists#firemyBookings" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio1">My Bookings</label>

    <input data-action="change->toggle-lists#firemyServices" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">My Services</label>

    <input data-action="change->toggle-lists#firemyGigs" type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3">My Gigs</label>
  </div>
  <div id="container-bookings-services">

    <!-- BOOKINGS -->
    <div id="my-bookings" class="mx-5" data-toggle-lists-target="myBookings">
      <div id="headline-my-bookings" class="d-flex px-4 mx-3">
          <h2>My Bookings</h2>
      </div>
      <div id="my-bookings-list" class="container px-4 mb-5">
        <div class="row row-cols-3">
          <% @my_bookings.each do |booking| %>
            <div class="card col mx-3 mb-3" style="width: 18rem;">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title"><%= booking.name %></h5>
                </div>
                <div>
                  <p class="card-text"><%= booking.date %></p>
                  <% service = Service.find_by id: booking.service_id %>
                  <p class="card-text"><%= service.name %></p>
                  <%= link_to "Cancel Booking",
                    booking_path(booking), class: "btn btn-danger",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- SERVICES -->
    <div id="my-services" class="mx-5 d-none" data-toggle-lists-target="myServices">
      <div id="headline-my-services" class="d-flex px-4 mx-3">
          <h2>My Services</h2>
      </div>
      <div id="my-services-container" class="container px-4 mb-5">
        <div id="service-cards" class="row row-cols-3">
          <% @my_services.each do |service| %>
            <div class="card col mx-3 mb-3" style="width: 18rem;">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <h5 class="card-title"><%= link_to service.name, service_path(service), style: "text-decoration: none;  color: black;" %></h5>
                </div>
                <div>
                  <p class="card-text"><%= service.category %></p>
                  <p class="card-text"><%= service.rating %></p>
                  <% bookings_for_this_service = Booking.all.select { |booking| booking.service_id == service.id } %>
                  <p class="card-text">Bookings: <%= bookings_for_this_service.length %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- GIGS -->
      <div id="my_gigs" class="mx-5 d-none" data-toggle-lists-target="myGigs">
        <div id="headline-my-gigs" class="d-flex px-4 mx-3">
          <h2>My Gigs</h2>
        </div>
        <div id="my-gigs-container" class="container px-4 mb-5">
          <div id="gig-cards" class="row row-cols-3">
            <% @my_gigs.each do |gig| %>
              <div class="card col mx-3 mb-3" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <h5 class="card-title"><%= gig.name %></h5>
                  </div>
                  <div>
                    <p class="card-text"><%= gig.date %></p>
                    <% booked_by = User.find_by id: gig.user_id %>
                    <p class="card-text">Booked by: <%= booked_by.username %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

  </div>
</div>
